.container{
    text-align: center;
    margin-top: 23px;
}
body {
    background-image: url("images/a.jpg");
    background-color: #cccccc;
   }
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border: 5px solid #3ef1e2;
    font-size: 34px;
    height: 50px;
    width: 350px;
}
button{
    border-radius: 20px;
    font-size: 23px;
    background: rgb(140, 203, 214);
    width: 80px;
    height: 67px;
    margin: 2px;
}
.calculator{
    border: 2px solid rgb(0, 109, 109);
    background-color: rgba(126, 248, 248, 0.61);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
h1{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}